
.cuisines-div  ul {
    list-style: none;
}
.cuisines-div  li {
    display: inline-block;
    margin-right: 2px;
    line-height: 40px;
}
.cuisines-div  input {
    visibility:hidden;
}
.cuisines-div  label {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
}
.cuisines-div  input:checked + label {
    background: rgb(57, 131, 241);
    color: white;
}
