
.cuisines-div  ul {
  padding: 0px;
    list-style: none;
}
.cuisines-div  li {
    display: inline-block;
    margin-right: 5px;
    line-height: 40px;

}
.cuisines-div  input {
    visibility:hidden;
}
.cuisines-div  label {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px black;
}
.cuisines-div  input:checked + label {
    background: rgb(57, 131, 241);
    color: white;
}

.cuisines-div{
  margin: 0px auto;
    margin-top: 10%;
    width: 70%;
}

.next-button{
  float: right;
}
